/* Page CSS */
*{
    font-family: tahoma;
}

.judul{
    font-family: times;
    text-align: center;
}

.sambutan{
    font-size: 14px;
    text-align: center;
}

.credit{
    font-family: times;
    font-size: 12px;
}

body{
    background-color: azure;
    text-align: center;
}

.btn {
    background-color: rgb(176, 170, 170);
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.gam{
    border: 1px solid rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
}

.in{
    border-radius: 5px;
}

.footer{
    text-align: left;
    font-size: 12px;
}